
<html>
<head>
    <title>Edit Map Details</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" media="screen" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    
<!-- describe functionality -->
<!-- easy language, light tone -->

<h2>Realtime Collaborative Mapping</h2>
<p> giomap is a web application that allows users to place markers, lines, and polygons on a map - simultaneously and in real time. 
</p>
    <!-- link to source code -->
<p>
giomap is open source and free to use. The <a href="https://github.com/mabafaba/giomap">source code</a> is available on GitHub."
</p>
<!-- based on leaflet, socket.io, node, express, alpine.js, sakura.css -->

Built with <a href="https://leafletjs.com/">Leaflet</a>, <a href="https://socket.io/">Socket.io</a>, <a href="https://nodejs.org/en/">Node.js</a>, <a href="https://expressjs.com/">Express</a>, <a href="https://alpinejs.dev/">Alpine.js</a>, 
and <a href="https://github.com/oxalorg/sakura">sakura.css</a>.

<%- include('./navigation', {page:"about"}) %>

</body>

<style>
</style>


<script>
</script>

</html>