
<html>
<head>
    <title>Post Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script> -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" media="screen" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- include alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
    <!-- <div id="cover" style="background-color:aquamarine;position:fixed;width:100%;height:100%;z-index:3000;left:0;top:0"></div> -->
    <!-- <button id="gotome" style="position:fixed;left:50%;top:50%;z-index:3001;" onclick="goToUser()">Go to me!</button> -->
    <!-- post data div -->
</head>
<body>

    <!-- show all maps with name and descriptions, linking to map -->
    <div id="mapListContainer">
        <h1>Maps</h1>
        <div id="mapList" x-data="Alpine.store('maplist')" x-init="Alpine.store('maplist').getMaps()">
            <!-- button to go to create map page -->
            <!-- using nice plus icon -->
            

            
            <template x-for="map in maps">
                <div class="maplistitem" >
                    
                        <h2 x-text="map.name"></h2>
                    
                    <p x-text="map.description"></p>
                    <!-- show user name less visible -->
                    <p style="color: rgb(150, 150, 150);">by <span x-text="map.createdBy.username"></span></p>
                    
                    <button x-on:click="window.location.href = '/drawmap/shared/' + map.shareLinkId">Open</button>
                    <button  x-show="map.userIsCreator" x-on:click="window.location.href = '/drawmap/edit/' + map.shareLinkId">Edit Details</button>
                    <!-- delete button -->
                    <button x-show="map.userIsCreator" x-on:click="deleteMap(map.shareLinkId)">Delete</button>
                    <!-- a button that only shows if map.userIsCreator -->
                </div>
            </template>

            <div id="addbuttonlistitem" class="maplistitem" >
                <!-- large round div with plus icon floating in center to go to create page -->
                <div id="createMapButton" onclick="window.location.href = '/drawmap/create'">
                    <i class='bx bx-plus' style="font-size: 40px;"></i>
                </div>
            </div>

        </div>
    </div>


    <!-- navigation -->
    <%- include('./navigation', {page:"listmaps"}) %>
    <%- include('./alert') %>

</body>

<style>

.maplistitem {
    display: flow-root;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    padding-bottom: 40px;
    margin: 40px;
    border-radius: 10px;
}

/* dark grey on hover */
.maplistitem:hover {
    background-color: rgb(50, 50, 50);
}

button {
    /* margin right and bottom */
    margin-right: 10px;
    margin-bottom: 10px;

}

.maplistitem button {
    float: right;
}
/* make plus icon nice colour and pointer curser */

#createMapButton {
    cursor: pointer;
    background-color: rgb(242, 164, 164);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addbuttonlistitem {
    /* no border */
    border: none !important;
    border-style: none !important;
    /* content aligned to center */
    display: flex;
    justify-content: center;
} 


#createMapButton:hover {
    background-color: rgb(229, 75, 75);
}

#addbuttonlistitem:hover {
    /* dont change background */
    background-color: transparent !important;
}


          /* animation that grows and shrinks border radius in infinite loop */

          @keyframes grow-shrink {
                0% {
                    border-radius: 5px;
                }
                50% {
                    border-radius: 15px;
                }
                100% {
                    border-radius: 5px;
                }
            }

            /* apply animation to maplistitem except add button */
            .maplistitem:not(#addbuttonlistitem) {
                animation: grow-shrink 5s infinite;
            }



</style>


<script>
// alpine store with list of maps
document.addEventListener('alpine:init', () => {
    Alpine.store('maplist', {
        maps: [],
        getMaps: function() {
            fetch('/drawmap/list/json')
            // check status
            .then(res => {
                if(!res.status == 200) {
                    throw new Error('Could not fetch maps');
                }
                return res;
            })
            .then(response => response.json())
            .then(data => {
                this.maps = data;
            })
            .catch(err => console.log(err));

        },
        deleteMap: function(shareLinkId, confirmed = false) {
            // if not confirmed, open dialogue
            if(!confirmed) {
                show_prompt('Delete Map', 'Are you sure you want to delete this map?', 
            false, 'Cancel',
             'Delete',
              `Alpine.store('maplist').deleteMap('${shareLinkId}', true)`);
              return;
            } else {
                // send delete request to server
                fetch('/drawmap/delete/' + shareLinkId, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(res => {
                    if(res.status === 200) {
                        return res.json();
                    } else {
                        throw new Error('Could not delete map');
                    }
                })
                .then(res => {
                    // remove map from list
                    this.maps = this.maps.filter(map => map.shareLinkId !== shareLinkId);
                    // show alert
                    show_prompt('Map Deleted', 'The map was deleted successfully', false);
                })
                .catch(err => {
                    console.log(err);
                    show_prompt('error', 'Could not delete map', false,'Close');
                });
            }




        },
    });
});

</script>

<%- include('./alert') %>

</html>