
.chat {
    /* fixed at bottom right */
    position: fixed;
    bottom: 0;
    right: 0;
    /* padding: 10px; */
    /* border: 1px solid black; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* color: white; */
    /* border-radius: 10px; */
    /* width: 200px; */
    /* height: 300px; */
    /* overflow-y: scroll; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
}   



#chat-window {
    transition: height 0.1s;
    height: 300px;
    width:200px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

#chat-messages-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    height: 80%;
    overflow-y: scroll;
}

.messageBox {
    /* all cornerrs round except bottom left */
    border-radius: 10px 10px 10px 0;
    margin: 5px;
    padding: 5px;
    /* border: 1px solid black; */
    background-color: rgb(98, 49, 98);
    color: white;
    max-width: 80%;
    height: auto;
    word-wrap: break-word

}


.isMe {
    /* all cornerrs round except bottom right */
    border-radius: 10px 10px 0 10px;
    background-color: rgb(49, 98, 98);
    color: white;

    /* align to right */
    align-self: flex-end;
}


.isBot {
    /* all cornerrs round except bottom left */
    border-radius: 10px 10px 10px 0;
    margin: 5px;
    padding: 5px;
    /* border: 1px solid black; */
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-family: monospace;
    max-width: 80%;
    height: auto;
    word-wrap: break-word
}


.message-username-display {
    /* small gray bottom right */
    font-size: 0.8em;
    color: gray;
    text-align: right;

}

#chat-form {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    margin: 10px;
    width: 100%;
    /* algin content to right */
    justify-content: right;
}

#chat-form input {
    width: 20%;
    margin: 5px;
}
#chat-form button {
    /* width: 20%;
    height:40px */
}

#chat-toggle {
   /* fixed at top right of parent */
    position: relative;
    top: 0;
    right: 40px;
    margin: 10px;
    
}

.collapsed {
    /* in .1 seconds animate height & padding to zero */
    transition: height 0.1s, padding-top 0.1s, padding-bottom 0.1s;
    height: 50px !important;
    width: 50px !important;
    padding: 0 !important;
    /* padding-bottom: 0 !important; */
    /* turn into circle */
    border-radius: 50%;
    background-color: rgba(20, 255, 200, 0.576);
    border: none !important;
    overflow: show !important;
}

/* hide all children of collapsed */
.collapsed > * {
    display: none !important;
    visibility: hidden;
}

/* show only the collapsed icon */
.collapsed > #collapsed-icon {
    display: block !important;
    visibility: visible;
    width: auto;
    height: auto;
    padding: 15px;
    cursor: pointer;
    overflow: show;
}

/* image in collapsed icon size */
#collapsed-icon > img {
    width: 25px;
    height: 25px;
    overflow: show;
}




/* hide collapsed-icon when chat is open */
#chat-window:not(.collapsed) > #collapsed-icon {
    display: none !important;
}



#chat-close {
    /* fixed at top right of parent */
    position: relative;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}
