<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/drawmap/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" media="screen" />

  <title>Login Page</title>
</head>

<body>
  <h1>Login Page</h1>
  <form>
    <div class="error" style="background-color: red;"></div><br>
    <label for="username" >Username</label><br>
    <input type="text" id="username" required/><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" required><br>
    <input type="submit" value="login"><br>
    </form>
  <a href="./user/register">Don't have an accout? Register</a>

  <script>
    const form = document.querySelector('form')
    const username = document.querySelector('#username')
    const password = document.querySelector('#password')
    const display = document.querySelector('.error')


    // get target url from ejs passed data if available
    // otherwise pull from url
    <% if (locals.target) { %>
    targetUrl = <%- JSON.stringify(locals.target) %>
    <% } else { %>
    const urlParams = new URLSearchParams(window.location.search);
    targetUrl = urlParams.get('targeturl')    
    <% } %>

    


    // if still no target url, set to home page
    if(!targetUrl){
      const targetUrl = '/'
    }

    // add targeturl query string to register link
    const registerLink = document.querySelector('a')
    registerLink.href = `./user/register?targeturl=${targetUrl}`

   form.addEventListener('submit', async (e) => {
      e.preventDefault()
      display.textContent = ''
      try {
        const res = await fetch('/drawmap/user/login', {
          method: 'POST',
          body: JSON.stringify({ username: username.value, password: password.value }),
          headers: { 'Content-Type': 'application/json' }
        })
        const data = await res.json()
        console.log('data',data);
        if (res.status === 400 || res.status === 401) {
          return display.textContent = `${data.message}. ${data.error ? data.error : ''}`
        }
        // data.role === "admin" ? location.assign('/') : location.assign('/')
        // if target url is set, redirect to it
        if(targetUrl){
          console.log("redirecting to targetUrl", targetUrl)
          // location.assign(targetUrl)
          location.assign("/drawmap/list")
        }
        // otherwise, redirect to home page
        else{
          console.log("redirecting to list page")
          
          location.assign("/drawmap/list")
        }

      } catch (err) {
        console.log(err.message)
      }

    })
  </script>
</body>

</html>